{% extends 'base.html' %}

{% block title %}Event Participant{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <div class="container" style="min-height: 80vh;">
    <table>
      <tr>
        <th>Event Name</th>
        <th>Participant</th>
        <th>Payment Status</th>
        <th>Attendance Status</th>
      </tr>

      {% for participant in participants %}
      <tr>
        <td>{{ participant.event }}</td>
        <td>{{ participant.user }}</td>
        <td>{{ participant.payment_status }}</td>
        <td>{{ participant.attendance_status }}</td>        
      </tr>
      {% endfor %}

    </table>
  </div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'register' %}">Sign Up</a>
{% endif %}
{% endblock %}