.eventCard  {
  padding:5%;
}

.gototop{
  background-color:#26B8F3;
}

.widget.clearfix.widget-contact-us{
  background-image: url('../images/world-map.png'); 
  background-position: 50% 55px; 
  background-repeat: no-repeat;
}

.page-title-parallax.page-title-center.text-dark{
  background-image:url('../images/page-title-parallax.jpg' ); 
  height:100%;
  width: auto;
}